<template name="userGroups">
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <ul class="list-inline">
          <li class="newGroup">
            <a href="{{pathFor 'newGroup'}}">New Group</a>
          </li>
        </ul>
        <hr />
        <div class="list-group-item-heading">Your Groups</div>
        <ul class="list-group">
          {{#each groups}}
          <li class="list-group-item">
            {{> userGroupItem}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
</template>
