<template name="newTask">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-4">Create New Task</label>
    </div>
    <div class="form-group">
      <div class="input-group col-sm-4">
        <span class="input-group-addon">@</span>
        <input type="text" name="username" class="form-control" placeholder="Enter Username Here">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group col-sm-4">
        <span class="input-group-addon">Title</span>
        <input type="text" name="title" class="form-control" placeholder="Enter Title Here">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group col-sm-4">
        <span class="input-group-addon">Description</span>
        <textarea class="form-control"  name="description" rows="4" placeholder="Enter Description Here"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-4">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</template>