<template name="userTaskPage">

  <div class="task-content">
    <h4 class="list-group-item-heading">{{title}}</h4>
    <p class="list-group-item-text">{{description}}</p>
    <p>Submitted By <span class="author">{{createdByUser.profile.name}}</span></p>
    <p>Due <span class="date">{{dueByText}}</span></p>
    <p>Assigned To <span class="author">{{assignedToUser.profile.name}}</span></p>
  </div>
  <div class="row">
    <a href="{{pathFor 'userTasksList'}}" class="col-md-offset-1 btn btn-primary active" role="button">Back</a>
    {{#if taskCreatedByMe}}
      <a href="{{pathFor 'userTaskEdit'}}" class=" btn btn-primary active" role="button">Edit</a>
    {{/if}}
  </div>
</template>