<template name="userTasksList">
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <div class="list-group-item-heading">Tasks Assigned to you</div>
        <ul class="list-group">
          {{#each tasks}}
          <li class="list-group-item">
            {{> userTaskItem}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="well">
        <div class="list-group-item-heading">Tasks Assigned By You</div>
      </div>
    </div>


  </div>
</template>
