<template name="userTaskItem">
  <div class="task-content">
    <h4 class="list-group-item-heading"><a href="{{pathFor 'userTaskPage'}}">{{title}}</a></h4>
    <p class="list-group-item-text">{{description}}</p>
    <div class="row text-center">
      <div class="col-md-4"><small>By <span class="author">{{createdByUser.profile.name}}</span></small></div>
      <div class="col-md-4"><small>Due <span class="date">{{dueByText}}</span></small></div>
      <img class="btn-link finished-task" src="/img/Check.png" width="6%"/>
    </div>
  </div>
</template>