<template name="userCreatedTaskItem">
  <div class="task-content">
    <h4 class="list-group-item-heading"><a href="{{pathFor 'userTaskPage'}}">{{title}}</a></h4>
    <p class="list-group-item-text">{{description}}</p>
    <div class="row">
      {{#if assignedToUser}}
      <div class="col-md-4">To <span class="author">{{assignedToUser.profile.name}}</span></div>
      {{else}}
      <div class="col-md-4">To <span class="author">Group: {{assignedToGroup.title}}</span></div>
      {{/if}}
      <div class="col-md-2"><small>Due <span class="date">{{dueByText}}</span></small></div>
      <div class="col-md-2"><button class="taskReminder btn btn-sm btn-link">Remind</button></div>
      {{#if ownThisGroupTask}}
        <div class="col-md-2"><span>{{finishedMembersCount}}/{{totalMembersCount}} Finished</span></div>
      {{/if}}
    </div>
  </div>
</template>