<template name="userTasksList">
  <div class="row">
    <div class="col-md-5">
      <div class="well">
        <ul class="list-inline">
          <li>
            <a href="#" class="myActiveTasks">Open({{myActiveTasksCount}})</a>
          </li>
          <li>
            <a href="#"  class="myFinishedTasks">Finished({{myFinishedTasksCount}})</a>
          </li>
          <li>
            <a href="#"  class="tasksDueToday">Due Today({{myActiveTodaysTasksCount}})</a>
          </li>
        </ul>
        <hr />
        <h4 class="list-group-item-heading">{{layou}}</h4>
        <ul class="list-group">
          {{#each tasksAssignedToMe}}
          <li class="list-group-item">
            {{> userTaskItem}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="well">
        <ul class="list-inline">
          <li>
            <a href="#" class="othersActiveTasks">Open({{othersActiveTasksCount}})</a>
          </li>
          <li>
            <a href="#"  class="othersFinishedTasks">Finished({{othersFinishedTasksCount}})</a>
          </li>
          <li>
            <a href="#"  class="othersTasksDueToday">Due Today({{othersActiveTodaysTasksCount}})</a>
          </li>
        </ul>
        <hr />
        <h4 class="list-group-item-heading">{{othersTasksHeading}}</h4>
        <ul class="list-group">
          {{#each tasksCreatedByMe}}
          <li class="list-group-item">
            {{> userCreatedTaskItem}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-md-3">
      <div class="well">
        <div class="list-group-item-heading">Notifications</div>
        <ul class="list-group">
        </ul>
      </div>
    </div>
  </div>
</template>
